* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1.5rem;
}
.register-nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.back-btn-box {
  color: black;
  text-decoration: none;
  width: 5.5vw;
  min-width: 5.5vw;
  height: 5vh;
  /* background: rgb(207, 133, 207); */
  background: linear-gradient(
    20deg,
    rgba(169, 167, 209, 1) 0%,
    rgba(214, 154, 85, 1) 0%,
    rgba(235, 220, 108, 1) 100%
  );
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.back-btn {
  width: 1rem;
  height: auto;
}
.back-btn-box:hover {
  width: 5.6vw;
  height: 5.3vh;
}
.back-btn:hover {
  width: 1.2rem;
}
.nav-header-text {
  color: black;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 30%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}
.form-container {
  height: 70vh;
  width: 30vw;
  background: linear-gradient(
    20deg,
    rgba(169, 167, 209, 1) 0%,
    rgba(214, 154, 85, 1) 0%,
    rgba(235, 220, 108, 1) 100%
  );
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.register-container-buttons {
  width: 100%;
  height: 6.2vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  top: 0;
}

.register-container-btn {
  width: 50%;
  height: 6.2vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.register-container-btn:hover {
  background: linear-gradient(
    175deg,
    rgba(169, 167, 209, 1) 0%,
    rgba(214, 154, 85, 1) 0%,
    rgba(235, 220, 108, 1) 100%
  );
}
.register-container-btn a {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
}

form {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 2rem;
  font-size: 1.1rem;
}
form input {
  width: 14rem;
  height: 2rem;
  margin-bottom: 1rem;
}
.submit-btn {
  margin-top: 1rem;
  width: 5rem;
  align-self: center;
}

.selected-page {
  background: linear-gradient(
    175deg,
    rgba(169, 167, 209, 1) 0%,
    rgba(214, 154, 85, 1) 0%,
    rgba(235, 220, 108, 1) 100%
  );
}
