* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  padding: 1rem;
  font-family: sans-serif;
  background: linear-gradient(
    20deg,
    rgba(169, 167, 209, 1) 0%,
    rgba(214, 154, 85, 1) 0%,
    rgba(235, 220, 108, 1) 100%
  );
}

header {
  min-height: 10vh;
  width: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.5rem;
}
.simulate{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  width: 9vw;
  height: 6vh;
  margin-top: 0.8rem;
}
.start-icon{
  width: 3.2rem;
  height: auto;
}
.start{
  margin-left: 0rem;
  color: rgb(0, 196, 168);
}
.simulate:hover{
  background: rgb(235, 235, 235);
  cursor: pointer;
}

main {
  min-height: 90vh;
  width: 100%;
}
.tournament {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.column {
  width: 20%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.cell {
  width: 80%;
  height: 7vh;
  background: white;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.cell:after {
  content: "";
  display: block;
  height: 2px;
  width: 6rem;
  position: absolute;
  background: black;
  right: -6rem;
  top: 50%;
}
.cell:before {
  content: "";
  display: block;
  height: 2px;
  width: 5.8rem;
  position: absolute;
  background: black;
  left: -5.8rem;
  top: 50%;
}
.starting-container-child:before {
  display: none;
}
.finals-container-child:after {
  display: none;
}
.vertical-line {
  height: 7.2rem;
  width: 2px;
  background: black;
  position: absolute;
  left: -5.8rem;
}
.vertical-line-quarter-1 {
  margin-bottom: 4rem;
}
.vertical-line-quarter-2 {
  margin-bottom: 1.6rem;
}
.vertical-line-quarter-3 {
  margin-top: 1.4rem;
}
.vertical-line-quarter-4 {
  margin-top: 4.2rem;
}
.vertical-line-semi {
  height: 13.2rem;
  margin-bottom: 4rem;
}
.vertical-line-semi-6 {
  margin-top: 8.6rem;
}
.vertical-line-finals {
  height: 21.8rem;
  margin-top: 0.2rem;
}

.team-rating {
  font-size: 1.5rem;
  position: absolute;
  left: 1rem;
}
.team-name {
  font-size: 2.5rem;
  position: absolute;
  left: 17%;
}
.cell img {
  width: 5rem;
  height: auto;
  position: absolute;
  right: 0.5rem;
}
.team-score{
  width: 3.8rem;
  height: 3.8rem;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  border: 2px solid black;
  right: -5rem;
  top: 0.4rem;
  z-index: 1;
}

.defeated{
  text-decoration: line-through;
}
.winner{
  color: rgb(52, 151, 52);
  text-decoration: none;
}

/* TODO

Add icons to simulate a specific bracket block(game)
can use the arrow symbol icon ->

Add classes for defeated team and winning team
defeated: slash throuhg name
winner: name turns green
